<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card  header="LowerCase" [subheader]="lowerName | lowercase">
            {{lowerName | lowercase}}
        </p-card>
        
    </div>
    <div class="col-4">
        <p-card header="Uppercase" [subheader]="upperName | uppercase">
            {{upperName | uppercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card  header="TitleCase" [subheader]="name | titlecase">
            {{name | titlecase}}
        </p-card>
    </div>
</div>


<div class="text-layout">
    <h1>Pipes de fechas</h1>
    <p>
        Pipes para mostrar las fechas.
    </p>
</div>

<div class="grid">
    <div class="col-6">
        <p-card  header="LowerCase" [subheader]="lowerName | lowercase">
            <ul>
                <li>Fecha</li>
                <li>Fecha | date</li>
                <li>Fecha | date: 'short'</li>
                <li>Fecha | date: 'long'</li>
                <li>Fecha | date: 'MMMM'</li>
                <li>Fecha | date: 'MMMM, dd, yyyy'</li>
                <li>Fecha | date: 'dd - MM - yyyy'</li>
            </ul>
        </p-card>
    </div>
    <div class="col-6">
        <p-card  header="LowerCase" [subheader]="lowerName | lowercase">
            <ul>
                <li> {{date}}</li>
                <li> {{date | date}}</li>
                <li> {{date | date: 'short'}}</li>
                <li> {{date | date: 'long'}}</li>
                <li> {{date | date: 'MMMM'}}</li>
                <li> {{date | date: 'MMMM, dd, yyyy'}}</li>
                <li> {{date | date: 'dd - MM - yyyy'}}</li>
            </ul>
        </p-card>
    </div>
</div>